{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-trick">Back</a>

      <h1 class="heading-large">How do you want to receive your licence?
      </h1>

      <form class="form" action="/check-your-answers" method="post">

        <div class="form-group">
              <fieldset>

                <div class="multiple-choice">
                  <input id="licence-email" name="receive-licence" type="checkbox" value="Email" {{ checked("receive-licence", "Email") }}>
                  <label for="checkbox-1">Email</label>
                </div>
                <div class="multiple-choice">
                  <input id="licence-text-message" name="receive-licence" type="checkbox" value="Text message" {{ checked("receive-licence", "Text message") }}>
                  <label for="checkbox-2">Text message</label>
                </div>
                <div class="multiple-choice">
                  <input id="licence-letter" name="receive-licence" type="checkbox" value="Letter" {{ checked("receive-licence", "Letter") }}>
                  <label for="checkbox-3">Letter</label>
                </div>

              </fieldset>
          </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
